<div class="py-[28px] px-8 bg-ghost-white rounded-[10px] flex lg:gap-10 select-none">
  <div>
    <app-badge [icon]="'caret'">{{ suggestionItem().upvotes }}</app-badge>
  </div>
  <div>
    <h3 class="text-h3">
      {{ suggestionItem().title }}
    </h3>
    <p class="text-body-1 mt-1">
      {{ suggestionItem().description }}
    </p>
    <app-badge class="mt-3 inline-block">{{ suggestionItem().category }}</app-badge>
    <div></div>
  </div>
  @let commentsCount = suggestionItem().comments ? suggestionItem().comments?.length : 0;
  <span
    class="text-body-1 font-bold flex items-center gap-2 ml-auto"
    [class.text-navy-dark/50]="commentsCount === 0"
  >
    <img src="shared/icon-comments.svg" alt="comment icon" title="comment icon" />

    {{ commentsCount }}
  </span>
</div>
