<div class="w-full block">
  @let labelValue = label();
  @let infoValue = info();
  @if (labelValue) {
    <label
      class="mb-2 text-body-m text-navy-dark font-bold text-[13px] lg:text-[14px]"
      [attr.for]="name()"
      >{{ labelValue }}</label
    >
  }
  @if (infoValue) {
    <span class="block text-[13px] lg:text-[14px] text-navy-muted mb-4 mt-0.5">{{
      infoValue
    }}</span>
  }
  <div class="">
    @if (type() === 'input') {
      <input
        type="text"
        [id]="name()"
        [attr.name]="name()"
        [placeholder]="placeholder()"
        [value]="internalValue()"
        [disabled]="disabled()"
        (input)="onInput($event)"
        (blur)="onBlur()"
        [maxLength]="maxLength()"
        class="input text-input"
        [class.border-brand-red]="showError"
      />
    } @else if (type() === 'textarea') {
      <textarea
        rows="4"
        [id]="name()"
        [attr.name]="name()"
        [placeholder]="placeholder()"
        [disabled]="disabled()"
        (input)="onInput($event)"
        (blur)="onBlur()"
        [value]="internalValue()"
        class="input text-area"
        [maxLength]="maxLength()"
        [class.border-brand-red]="showError"
      >
      </textarea>
    }

    @if (showError) {
      <span class="pointer-events-none mt-1 block text-body-l text-brand-red">
        {{ errorMessage() }}
      </span>
    }
  </div>
</div>
