<div class="w-full relative">
  <p class="mb-2 text-body-1 text-navy-dark">{{ label() }}</p>

  <button type="button" (click)="toggle()" class="select" [class.opened]="isOpen">
    <span
      >Sort by: <b>{{ selectedValue }}</b></span
    >

    <svg
      class="text-ghost-white2 transition-transform"
      width="10"
      height="7"
      [class.rotate-180]="isOpen"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1l4 4 4-4"
        stroke="currentColor"
        stroke-width="2"
        fill="none"
        fill-rule="evenodd"
      />
    </svg>
  </button>

  @if (isOpen) {
    <ul class="select-list">
      <!--shadow-[-->
      @for (option of options(); track option) {
        <li>
          <button type="button" (click)="select(option)" class="select-list-item">
            {{ option }}
            @if (option === selectedValue) {
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13"
                height="11"
                class="text-brand-purple"
              >
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  d="M1 5.233L4.522 9 12 1"
                />
              </svg>
            }
          </button>
        </li>
      }
    </ul>
  }
</div>
