<div class="w-full relative">
  <label class="mb-2 text-body-m text-navy-dark font-bold text-[13px] lg:text-[14px]">{{
    label()
  }}</label>
  <span class="block text-[13px] lg:text-[14px] text-navy-muted mb-4 mt-0.5">{{ info() }}</span>
  <button type="button" (click)="toggle()" class="dropdown" [class.opened]="isOpen">
    <span>{{ selectedValue().label }}</span>

    @if (isOpen) {
      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" class="text-brand-purple">
        <path fill="none" stroke="currentColor" stroke-width="2" d="M1 5.233L4.522 9 12 1" />
      </svg>
    } @else {
      <svg
        class="text-brand-blue transition-transform"
        width="10"
        height="7"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 1l4 4 4-4"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          fill-rule="evenodd"
        />
      </svg>
    }
  </button>

  @if (isOpen) {
    <ul class="dropdown-list">
      <!--shadow-[-->
      @for (option of options(); track option) {
        @if (option.value !== selectedValue().value) {
          <li>
            <button type="button" (click)="select(option)" class="dropdown-list-item">
              {{ option.label }}
            </button>
          </li>
        }
      }
    </ul>
  }
</div>
