/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
    /* Elsődleges színek */
    --color-brand-purple: #ad1fea;
    --color-brand-blue: #4661e6;
    --color-brand-sky: #62bcfa;
    --color-brand-peach: #f49f85;
    --color-brand-red: #d73737;

    /* Sötét árnyalatok és semleges színek */
    --color-navy-dark: #3a4374;
    --color-navy-muted: #647196;

    /* Háttérszínek */
    --color-ghost-white: #ffffff;
    --color-ghost-light: #f7f8fd;
    --color-ghost-shimmer: #f2f4ff;
    --color-ghost-white2: #f2f4fe;

    --font-primary: "Jost", sans-serif;

    /* ---- Headings ---- */
    --text-h1: 1.5rem;
    --text-h1--line-height: 2.125rem; /* 34px */
    --text-h1--font-weight: 700;
    --text-h1--letter-spacing: -0.33px;

    --text-h2: 1.25rem;
    --text-h2--line-height: 1.8125rem; /* 29px */
    --text-h2--font-weight: 700;
    --text-h2--letter-spacing: -0.25px;

    --text-h3: 1.125rem;
    --text-h3--line-height: 1.625rem; /* 26px */
    --text-h3--font-weight: 700;
    --text-h3--letter-spacing: -0.25px;

    --text-h4: 0.875rem;
    --text-h4--line-height: 1.25rem; /* 20px */
    --text-h4--font-weight: 700;
    --text-h4--letter-spacing: -0.2px;

    /* ---- Body ---- */
    --text-body-1: 1rem;
    --text-body-1--line-height: 1.25rem; /* 20px */
    --text-body-1--font-weight: 400;
    --text-body-1--letter-spacing: 0px;

    --text-body-2: 0.9375rem;
    --text-body-2--line-height: 1.375rem; /* 22px */
    --text-body-2--font-weight: 400;
    --text-body-2--letter-spacing: 0px;

    --text-body-3: 0.8125rem;
    --text-body-3--line-height: 1.1875rem; /* 19px */
    --text-body-3--font-weight: 400;
    --text-body-3--letter-spacing: 0px;
}

@layer utilities {
    /*.text-h1 {
        @apply tracking-[-0.33px] text-2xl leading-8.5 font-bold opacity-[96%];
    }
    .text-h2 {
        @apply tracking-[-0.25px] text-xl leading-[29px] font-bold;
    }
    .text-h3 {
        @apply tracking-[-0.25px] text-lg leading-[26px] font-bold;
    }
    .text-h4 {
        @apply tracking-[-0.2px] text-sm leading-[20px] font-bold;
    }

    .text-body-1 {
        @apply tracking-[0px] text-[1rem] leading-[20px] font-normal;
    }
    .text-body-2 {
        @apply tracking-[0px] text-[0.940rem] leading-[22px] font-normal;
    }
    .text-body-3 {
        @apply tracking-[0px] text-[0.815rem] leading-[19px] font-normal;
    }*/
}
body {
    @apply font-primary text-navy-dark;
}
